.env
My_notes.md

docker-compose.yml
.docker-compose.yml
.docker-compose.env

.terraform*
terraform.tfstate*

.load-balancer-main.tf
load-balancer-main.tf

k8s-main.tf
.k8s-main.tf

vault/tls/*
vault/unseal.key